<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>
    <add key="ScriptPath" value="App_Code\Scripts\Installscript.sql"/>
    <add key="ScriptDBUser" value="App_Code\Scripts\CreateDBUser.sql"/>
    <add key="ProductImagePath" value="product_images/"/>
    <add key="PrinterCopies" value="1"/>
    <add key="DefaultSortOrder" value="0"/>
    <add key="DefaultPriceValue" value="0.00"/>
    <add key="SMTPSetting" value="192.82.252.71"/>
    <add key="MailFrom_User" value="omniposapp@omniposweb.com"/>
    <add key="MailFrom_pwd" value="0mn1p0s"/>
    <add key="ChartImg" value="Storage=file;Timeout=20;Url=~/temp/;"/>
    <!--  <add key="au.com.omnisystems.www.getUserInfo" value="http://www.omnisystems.com.au/PosApp/webservices/getUserInfo.asmx"/>-->
    <add key="localhost.getUserInfo" value="http://localhost:1185/POSAPP/webservices/getUserInfo.asmx"/>
    <!--<add key="LocalSqlServer1" value="server=HOME;uid=sa;pwd=manager2010;database=omniposapp;Connect Timeout=200; pooling='true'; Max Pool Size=200"/>-->
    <!--<add key="localhost.getUserGroupInfo" value="http://localhost:1050/POSAPP/webservices/getUserGroupInfo.asmx"/>
    <add key="localhost.getAllProductInfo" value="http://localhost:1065/POSAPP/webservices/getAllProductInfo.asmx"/>
    <add key="localhost.getAllUserInfo" value="http://localhost:1050/POSAPP/webservices/getAllUserInfo.asmx"/>
    <add key="localhost.getCatSubCategoryInfo" value="http://localhost:1050/POSAPP/webservices/getCatSubCategoryInfo.asmx"/>
    <add key="localhost.getCookingOption" value="http://localhost:1050/POSAPP/webservices/getCookingOption.asmx"/>
    <add key="localhost.getCourseInfo" value="http://localhost:1050/POSAPP/webservices/getCourseInfo.asmx"/>
    <add key="localhost.getInstructionInfo" value="http://localhost:1050/POSAPP/webservices/getInstructionInfo.asmx"/>
    <add key="localhost.getKitchenInfo" value="http://localhost:1050/POSAPP/webservices/getKitchenInfo.asmx"/>
    <add key="localhost.getModifierInfo" value="http://localhost:1050/POSAPP/webservices/getModifierInfo.asmx"/>
    <add key="localhost.getModifierLevelInfo" value="http://localhost:1050/POSAPP/webservices/getModifierLevelInfo.asmx"/>
    <add key="localhost.getNoteInfo" value="http://localhost:1050/POSAPP/webservices/getNoteInfo.asmx"/>
    <add key="localhost.getPrinterInfo" value="http://localhost:1050/POSAPP/webservices/getPrinterInfo.asmx"/>
    <add key="localhost.getRestaurantInfo" value="http://localhost:1050/POSAPP/webservices/getRestaurantInfo.asmx"/>-->
    <!--<add key="au.com.omnisystems.www.getUserInfo" value="http://www.omnisystems.com.au/PosApp/webservices/getUserInfo.asmx" />-->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.DataVisualization" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="3.5.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add connectionString="Server=HOME-PC\SQLEXPRESS;Database=Omni;User ID=sa;Password=sa123;Connect Timeout=10000;pooling=true;Max Pool Size=200;" name="LocalSqlServer1" providerName="System.Data.SqlClient"/>
    <add connectionString="Server=HOME-PC\SQLEXPRESS;Database=OmniAdmin;User ID=sa;Password=sa123;Connect Timeout=10000;pooling=true;Max Pool Size=200;" name="Admin" providerName="System.Data.SqlClient"/>
    <!--<add name="LocalSqlServer1" connectionString="Data Source=192.82.252.104\sqlexpress,2856;Initial Catalog=POS_TestDB;User ID=user;Password=omni@786;Connect Timeout=10000;pooling=true;Max Pool Size=200;" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <system.web>
    <httpRuntime executionTimeout="900000" maxRequestLength="4096" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" enableVersionHeader="true"/>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="Microsoft.SqlServer.ConnectionInfo, Version=10.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.SqlServer.Smo, Version=10.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.SqlServer.Management.Sdk.Sfc, Version=10.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <!--  <pages enableEventValidation="false" enableSessionState="true" controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID"/> -->
    <httpModules>
      <remove name="Session"/>
      <add type="System.Web.SessionState.SessionStateModule" name="Session"/>
    </httpModules>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <pages enableEventValidation="false" enableSessionState="true" controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ChartImageHandler"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <!--<add name="ChartImg" verb="*" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />-->
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
    <security>
      <authentication>
        <anonymousAuthentication enabled="true"/>
      </authentication>
    </security>
  </system.webServer>
</configuration>